@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    --backgroundPrimary: #fecaca
  }
}
